<!--suppress ALL -->
<th:block th:fragment>
    <nav id="top" class="site-header sticky-top py-1">
        <div class="container d-flex flex-column flex-md-row justify-content-between">
            <a class="py-2" th:href="@{/}">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                     stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                     class="d-block mx-auto">
                    <circle cx="12" cy="12" r="10"></circle>
                    <line x1="14.31" y1="8" x2="20.05" y2="17.94"></line>
                    <line x1="9.69" y1="8" x2="21.17" y2="8"></line>
                    <line x1="7.38" y1="12" x2="13.12" y2="2.06"></line>
                    <line x1="9.69" y1="16" x2="3.95" y2="6.06"></line>
                    <line x1="14.31" y1="16" x2="2.83" y2="16"></line>
                    <line x1="16.62" y1="12" x2="10.88" y2="21.94"></line>
                </svg>
            </a>
            <a class="py-2 d-none d-md-inline-block mr-2" th:href="@{/}">Начало</a>
            <a class="py-2 d-none d-md-inline-block mr-2" th:href="@{/info}">За нас</a>
            <a class="py-2 d-none d-md-inline-block mr-2" th:href="@{/our-shops}">Магазини</a>
            <a class="py-2 d-none d-md-inline-block mr-2" th:href="@{/products/all?page=1}">Продукти</a>
            <th:block th:if="${session.role == 'Admin'}">
                <div class="dropdown show">
                    <a class="py-2 d-none d-md-inline-block dropdown-toggle" th:href="@{#}" role="button" id="dropdownMenuLink"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                       th:utext="'Админ: ' + ${session.name} + ' ' + ${session.lastName}"/>

                    <div class="dropdown-menu" style="background-color: rgba(0, 0, 0, .85)" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" style="background-color: transparent" th:href="@{/user/profile-admin}">Профил</a>
                        <a class="dropdown-item" style="background-color: transparent" th:href="@{/orders}"><i class="fas fa-folder"></i> Поръчки</a>
                        <a class="dropdown-item" style="background-color: transparent" th:href="@{/inquiries/details}"><i class="fas fa-reply"></i> Запитвания</a>
                        <a class="dropdown-item" style="background-color: transparent" th:href="@{/products/add-product}"><i class="fas fa-plus"></i> Добави продукт</a>
                        <a class="dropdown-item" style="background-color: transparent" th:href="@{/logout}"><i class="fas fa-sign-out-alt"></i> Изход</a>
                    </div>
                </div>
            </th:block>
            <th:block th:if="${session.role == 'Guest'}">
                <div class="dropdown show">
                    <a class="py-2 d-none d-md-inline-block dropdown-toggle" th:href="@{#}" role="button" id="dropdownMenuLink"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                       th:utext="${session.name} + ' ' + ${session.lastName}"/>

                    <div class="dropdown-menu" style="background-color: rgba(0, 0, 0, .85)" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" style="background-color: transparent" th:href="@{/user/profile}">Профил</a>
                        <a class="dropdown-item" style="background-color: transparent" th:href="@{/cart/{id}(id=${session.user.id})}"><i class="fas fa-shopping-cart"></i> Количка</a>
                        <a class="dropdown-item" style="background-color: transparent" th:href="@{/logout}"><i class="fas fa-sign-out-alt"></i> Изход</a>
                    </div>
                </div>
            </th:block>
            <th:block th:if="${session.role == null}">
                <a class="py-2 d-none d-md-inline-block ml-5" th:href="@{/create-account}"><i class="fas fa-user"></i> Създай профил</a>
                <a class="py-2 d-none d-md-inline-block" th:href="@{/sign-in}"><i class="fas fa-sign-in-alt"></i> Вход</a>
            </th:block>
        </div>
    </nav>
</th:block>