<!--suppress ALL -->
<th:block th:fragment>
    <div class="blog-header mt-3">
        <div class="container">
            <h1 class="blog-title">Гея Комерс 5 ООД</h1>
            <p class="lead blog-description">За фирмата:</p>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-8 blog-main">
                <div class="blog-post">
                    <p>Ръководството на Гея Комерс - 5 ООД е посветило усилията си да утвърди фирмата като коректна и
                        уважавана търговска организация, както на българския, така и на международните пазари.</p>
                    <hr>
                    <p>Стремежът на фирмата е да предоставя на всички свои клиенти конкурентно-способни стоки и услуги,
                        които в най-пълна степен да удовлетворяват конкретните им нужди и изисквания, и на тази база да
                        изгражда партньорство, основано на взаимно доверие и гарантирано качество.</p>
                    <blockquote>
                        <p>Считаме, че <strong>три основни елемента</strong> в подобрение на нашата дейност са основа за
                            поддържане на
                            дълготрайното сътрудничество с нашите клиенти.</p>
                    </blockquote>
                    <hr>
                    <h3>1. Подобряване качеството на продукта</h3>
                    <p>Лагерите X-Life са лагери с по-висок стандарт, адаптирани към специфичните нужди на клиента.
                        Стратегията на Х-Life е да се подобри изцяло качеството на лагери FAG към едно много високо
                        ниво. Този тип лагери имат следните предимства:</p>
                    <ul>
                        <li>30 % по-висока устойчивост на умора</li>
                        <li>50 % по-дълъг живот</li>
                        <li>10 % по-нисък момент на триене</li>
                        <li>Увеличена товароносимост</li>
                        <li>Допълнителен знак Х-Life на лагера и опаковката</li>
                    </ul>
                    <h3>2. Подобряване на доставките и сервиза</h3>
                    <p>Гея Комерс 5 ООД има готовност да поддържа на склад всички видове лагери с вътрешен диаметър до
                        150 мм., не по-малко от 2 бройки от вид е цел максимално бързо реагиране на потребителското
                        търсене.</p>
                    <h3>3. Подобряване цената на продукта</h3>
                    <p>Въпреки последните драстични промени на световните цени на стоманата и енергопродуктите, а от там
                        и на фабрично-заводската цена на лагерите FAG, Гея Комерс 5 ООД предлага все по-големи отстъпки
                        от доставната цена за търговци и все по-конкурентни цени на своите крайни клиенти.</p>
                </div>
            </div>
            <div class="col-sm-4 offset-sm-0 blog-sidebar">
                <div class="sidebar-module sidebar-module-inset">
                    <h4>За нас</h4>
                    <p>Гея комерс-5 е създадена през 1990 г като събирателно дружество , а от 2000 г е ООД.
                        За изминалите 19 години фирмата се установи на пазра като водещ доставчик на търкалящи лагери ,
                        успя да изгради структура от 11 търговски обекта в по големите градове на страната. Складовата
                        ни наличност надхвърля 10 000 номенклатурни единици. За лагери които не са на склад е
                        организирана стройна система за бързи доставки на практически всички съществуващи видове както
                        от внос , така и от националния пазар.</p>
                </div>
                <hr>
                <div class="sidebar-module">
                    <h4>Социални мрежи</h4>
                    <ol class="list-unstyled">
                        <li><i class="fab fa-facebook"></i> Намерете ни във
                            <a th:target="_blank" class="facebook-link"
                               th:href="@{https://www.facebook.com/GeaCommerce5/}">Facebook</a>!
                        </li>
                        <li><i class="fas fa-map-marker-alt"></i> Намерете ни на
                            <a th:target="_blank" class="maps-link"
                               th:href="@{https://www.google.com/maps/place/%D0%B1%D1%83%D0%BB.+%E2%80%9E%D0%A6%D0%B0%D1%80+%D0%9E%D1%81%D0%B2%D0%BE%D0%B1%D0%BE%D0%B4%D0%B8%D1%82%D0%B5%D0%BB%E2%80%9C+264,+9023+%D0%92%D0%BB%D0%B0%D0%B4%D0%B8%D1%81%D0%BB%D0%B0%D0%B2%D0%BE%D0%B2%D0%BE,+%D0%92%D0%B0%D1%80%D0%BD%D0%B0/@43.2349071,27.8547954,17z/data=!3m1!4b1!4m5!3m4!1s0x40a454b14282eafb:0xd9cd8bacec438863!8m2!3d43.2349071!4d27.8569841}">картата</a>!
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <hr>
</th:block>