<!--suppress ALL -->
<th:block th:fragment>
    <style type="text/css">
        .modal-content {
            background-color: #BBD6EC;
        }

        .modal-header {
            background-color: #337AB7;
            padding: 16px 16px;
            color: #FFF;
            border-bottom: 2px dashed #337AB7;
        }
    </style>
    <div class="d-flex justify-content-center">
        <th:block th:if="${allInquiries.size() == 0}">
            <h3 class="d-flex justify-content-center ml-3 mt-3">Няма текущи запитвания!</h3>
        </th:block>
        <th:block th:unless="${allInquiries.size() == 0}">
            <div class="row">

                <div class="col-md-12 mt-3">
                    <h3 align="center">Запитвания</h3>
                    <div class="table-responsive">

                        <table id="mytable" class="table table-bordred table-striped">

                            <thead>
                            <th>Име</th>
                            <th>Имейл</th>
                            <th>Съобщение</th>
                            <th>Прочетено</th>

                            </thead>
                            <tbody>
                            <th:block th:each="inquiry, iterStat : ${allInquiries}" th:object="${inquiry}">

                                <tr>
                                    <td th:text="${iterStat.index + 1} + '. ' + ${inquiry.userName}"></td>
                                    <td th:text="${inquiry.userEmail}"></td>

                                    <th:block th:if="${inquiry.message.length() <= 30}">
                                        <td th:text="${inquiry.message}"></td>
                                    </th:block>

                                    <th:block th:unless="${inquiry.message.length() <= 30}">
                                        <td>
                                            <a data-title="View"
                                               data-toggle="modal" th:attr="data-target='#viewModal'+${iterStat.index}"
                                               href="#viewModal">
                                                <th:block
                                                        th:text="${#strings.substring(inquiry.message, 0, 30)} + '...'"/>
                                            </a>
                                        </td>

                                    </th:block>
                                    <td>
                                        <p data-placement="top" data-toggle="tooltip">
                                            <button class="btn btn-success btn-xs ml-4"
                                                    data-toggle="modal"
                                                    th:attr="data-target='#deleteModal'+${iterStat.index}"><i
                                                    class="fas fa-user-check"></i></button>
                                        </p>
                                    </td>
                                </tr>

                                <div class="modal fade" th:id="viewModal + ${iterStat.index}" tabindex="-1"
                                     role="dialog"
                                     aria-labelledby="viewModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="viewModalLabel">Прочети съобщението.</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body col-md-12 col-lg-12">
                                                <div class="col-xs-4">
                                                    <th:block th:text="${inquiry.message}"/>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                        data-dismiss="modal">Затвори
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="modal fade" th:id="deleteModal + ${iterStat.index}" tabindex="-1"
                                     role="dialog"
                                     aria-labelledby="deleteModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="deleteModalLabel">Отбележи съобщението като
                                                    прочетено.</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body col-md-12 col-lg-12">
                                                <div class="col-xs-4">
                                                    Отбелязването на съобщението като прочетено, ще го изтрие
                                                    автоматично.<br/>
                                                    Сигурни ли сте, че искате това?
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <form th:method="post"
                                                      th:action="@{/inquiries/details/{id}(id=${inquiry.id})}">
                                                    <button type="submit" name="action" value="read"
                                                            class="btn btn-success">
                                                        Потвърди
                                                    </button>
                                                    <button type="button" class="btn btn-secondary"
                                                            data-dismiss="modal">Затвори
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </th:block>
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </th:block>
    </div>

    <hr/>
</th:block>