<!--suppress ALL -->
<th:block th:fragment>
    <style type="text/css">
        .modal-content {
            background-color: #BBD6EC;
        }

        .modal-header {
            background-color: #337AB7;
            padding: 16px 16px;
            color: #FFF;
            border-bottom: 2px dashed #337AB7;
        }
    </style>
    <div class="d-flex justify-content-center">
        <th:block th:if="${allOrders.size() == 0}">
            <h3 class="d-flex justify-content-center ml-3 mt-3">Няма текущи поръчки!</h3>
        </th:block>
        <th:block th:unless="${allOrders.size() == 0}">
            <div class="row">


                <div class="col-md-12 mt-3">
                    <h3 align="center">Поръчки</h3>
                    <div class="table-responsive">


                        <table id="mytable" class="table table-bordred table-striped">

                            <thead>
                            <th>Име</th>
                            <th>Имейл</th>
                            <th>Адрес</th>
                            <th>Дата и час</th>
                            <th>Цена</th>
                            <th>Статус</th>
                            <th>Продукти</th>
                            <th>Завърши</th>

                            </thead>
                            <tbody>

                            <th:block th:each="order, iterStat : ${allOrders}" th:object="${order}">
                                <tr>
                                    <td th:utext="${iterStat.index + 1} + '. ' + ${order.clientName}"></td>
                                    <td th:utext="${order.clientEmail}"></td>
                                    <td th:utext="${order.deliveryAddress}"></td>
                                    <td th:utext="${#strings.replace(order.orderDate, 'T', ' ')}"></td>
                                    <td th:utext="${order.orderPrice} + ' лв.'"></td>
                                    <td th:utext="${order.status}"></td>
                                    <td th:utext="${#strings.listJoin(order.formattedProducts.get(order.id), ' | ')}"></td>
                                    <td>
                                        <p data-placement="top" data-toggle="tooltip">
                                            <button class="btn btn-success btn-xs ml-3" data-toggle="modal"
                                                    th:attr="data-target='#deleteModal'+${iterStat.index}"><i
                                                    class="fas fa-user-check"></i></button>
                                        </p>
                                    </td>
                                </tr>

                                <div class="modal fade" th:id="deleteModal + ${iterStat.index}" tabindex="-1"
                                     role="dialog"
                                     aria-labelledby="deleteModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="deleteModalLabel">Завършете поръчката.</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body col-md-12 col-lg-12">
                                                <div class="col-xs-4">
                                                    Завършването на поръчката означава, че тя е била получена от клиента
                                                    и следва да бъде изтрита. <br/>
                                                    Сигурни ли сте, че искате това?
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <form th:method="post"
                                                      th:action="@{/orders/{id}(id=${order.id})}">
                                                    <button type="submit" name="action" value="complete"
                                                            class="btn btn-success">
                                                        Потвърди
                                                    </button>
                                                    <button type="button" class="btn btn-secondary"
                                                            data-dismiss="modal">Затвори
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </th:block>

                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </th:block>
    </div>
    <hr/>
</th:block>