<!--suppress ALL -->
<th:block th:fragment>
    <div class="blog-header mt-3">
        <div class="container">
            <h1 class="blog-title">Права и задължения</h1>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-12 blog-main">
                <div class="blog-post">
                    <hr/>
                    <strong>I. ОБЩИ ПОЛОЖЕНИЯ</strong>
                    <hr/>
                    <p>
                        1. Настоящият документ съдържа Общи условия, съгласно които ТЪРГОВЕЦА предоставя услуги на
                        потребителите/клиентите си посредством Интернет магазина ножове.com. Тези условия обвързват
                        всички
                        потребители. С натискане на бутона КУПИ, потребителят/клиентът се съгласява, изцяло приема и се
                        задължава да спазва настоящите Общи условия.</p>
                    <p>
                        2. Идентифициране на потребителя/клиента с цел възпроизвеждане на изявлението му както за
                        приемане
                        на Общите условия, така и за направената поръчка, се извършва чрез съхранените в лог - файлове
                        на
                        сървъра на ножове.com, съхранение на IP адреса на потребителя/клиента, както и всяка друга
                        информация.</p>
                    <p>
                        3. Продуктите, които се намират на интернет страницата на ножове.com не представляват правно
                        обвързваща оферта, а са по-скоро демонстративен онлайн каталог, описващ продуктовата линия на
                        търговеца.</p>
                    <p>
                        4. След кликане на бутона "КУПИ", потребителите се съгласяват да закупят стоките, намиращи се в
                        КОШНИЦАТА. Това действие има правно обвързваща сила. Клиентът получава потвърждение на поръчката
                        и с
                        получаване на това потвърждение се счита, че договорът е сключен. При изпращане на поръчката или
                        при
                        потвърждението е скл. Договор?</p>
                    <p>
                        5. ТЪРГОВЕЦА си запазва правото да направи отказ от доставка на потвърдена поръчка в случай, че
                        стоките не са достъпни. При липса на складова наличност от заявената стока, в рамките на
                        работната
                        седмица ТЪРГОВЕЦЪТ уведомява потребителя/клиента за изчерпването й чрез изпращане на съобщение
                        до
                        посочения от Клиента електронен адрес или на посочения телефонен номер. В случай, че е направен
                        превод по сметката на търговеца, клиентът ще може да избира между възстановяване на сумите,
                        отказ от
                        поръчката или чрез заместваща поръчка.</p>
                    <p>
                        6. Договорният език е български, а плащанията ще бъдат извършвани в български левове с/без ДДС.
                    </p>
                    <hr/>
                    <strong>II. ДОСТАВКА</strong>
                    <hr/>
                    <p>
                        7. Потребителят/клиентът носи изцяло риска от повреждане/загубване на стоката при доставката.
                        Веднага след предаване на стоката на куриер, ТЪРГОВЕЦЪТ се освобождава от риска, който се
                        прехвърля
                        върху потребителя/клиента. ТЪРГОВЕЦА не носи отговорност за закъснение в случай, че закъснението
                        се
                        дължи на куриер или друг доставчик.</p>
                    <p>
                        8. Веднага след доставката, стоките следва да бъдат прегледани внимателно от потребителя/клиента
                        или
                        упълномощено от него лице. Евентуални повреди, удари и други щети следва да бъдат докладвани
                        незабавно на ТЪРГОВЕЦА. В случай, че бъде установено наличие на щети, които са се получили при
                        транспортирането на стоката, ТЪРГОВЕЦЪТ не носи отговорност за гаранционното обслужване на тази
                        стока. В случаите когато от ТЪРГОВЕЦА са зададени в писмена форма конкретни дата и час за
                        доставка,
                        изявлението има обвързваща сила. При посочени неверен или сгрешен адрес, лице за контакти и/или
                        телефон при подаване на заявката ТЪРГОВЕЦА не е обвързан от каквото и да е задължение за
                        изпълнение
                        на поръчката.</p>
                    <p>
                        8а. При предаване на стоката потребителят/клиентът или трето лице подписват придружаващите я
                        документи. За трето лице се счита всеки, който не е титуляр на заявлението, но приема стоката на
                        доставка и е на посочения от клиента адрес.
                        При отказ за получаване на стоката, извън случаите описани по-долу, отказът се счита за
                        неоснователен и Клиентът дължи заплащане на разходите за доставка и връщане на стоката. В
                        случай, че
                        Клиентът не бъде намерен в срока за изпълнение на доставката на посочения адрес или не бъде
                        осигурен
                        достъп и условия за предаване на стоката в този срок, ТЪРГОВЕЦА се освобождава от задължението
                        си да
                        достави заявената за покупка стока.</p>
                    <p>
                        8б. Когато доставената стока явно не съответства на заявената за покупка от Клиента стока и това
                        може да се установи чрез обикновения й преглед,
                        Клиентът може да иска доставената му стока да бъде заменена със съответстваща на направеното от
                        него
                        заявление за покупка в срок от 24 часа от получаването й.</p>
                </div>
            </div>
        </div>
    </div>
    <hr>
</th:block>