<!--suppress ALL -->
<th:block th:fragment>
    <script th:src="@{https://code.jquery.com/jquery-3.2.1.slim.min.js}"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            var activePage = $(location).attr('href').split('page=')[1];
            if (!isNaN(activePage)) {
                $(this).siblings('li').removeClass('page-item active');
                $("ul.pagination li:nth-child("+activePage+")").addClass("page-item active");
            }
        });
    </script>
    <style type="text/css">
        .product-grid3 {
            font-family: Roboto, sans-serif;
            text-align: center;
            position: relative;
            z-index: 1
        }

        .product-grid3:before {
            content: "";
            height: 81%;
            width: 100%;
            background: #fff;
            border: 1px solid rgba(0, 0, 0, .1);
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            transition: all .5s ease 0s
        }

        .product-grid3:hover:before {
            opacity: 1;
            height: 100%;
        }

        .product-grid3 .product-image3 {
            position: relative;
        }

        .product-grid3 .product-image3 a {
            display: block
        }

        .product-grid3 .product-image3 img {
            width: 100%;
            height: auto;
        }

        .product-grid3 .pic-1 {
            opacity: 1;
            transition: all .5s ease-out 0s
        }

        .product-grid3:hover .pic-1 {
            opacity: 0
        }

        .product-grid3 .pic-2 {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            transition: all .5s ease-out 0s
        }

        .product-grid3:hover .pic-2 {
            opacity: 1
        }

        .product-grid3 .social {
            width: 120px;
            padding: 0;
            margin: 0 auto;
            list-style: none;
            opacity: 0;
            position: absolute;
            right: 0;
            left: 0;
            bottom: -23px;
            transform: scale(0);
            transition: all .3s ease 0s
        }

        .product-grid3:hover .social {
            opacity: 1;
            transform: scale(1)
        }

        .product-grid3:hover .product-discount-label, .product-grid3:hover .product-new-label, .product-grid3:hover .title {
            opacity: 0
        }

        .product-grid3 .social li {
            display: inline-block
        }

        .product-grid3 .social li a {
            color: #e67e22;
            background: #fff;
            font-size: 18px;
            line-height: 50px;
            width: 50px;
            height: 50px;
            border: 1px solid rgba(0, 0, 0, .1);
            border-radius: 50%;
            margin: 0 2px;
            display: block;
            transition: all .3s ease 0s
        }

        .product-grid3 .social li a:hover {
            background: #e67e22;
            color: #fff
        }

        .product-grid3 .product-discount-label, .product-grid3 .product-new-label {
            background-color: #e67e22;
            color: #fff;
            font-size: 17px;
            padding: 2px 10px;
            position: absolute;
            right: 10px;
            top: 10px;
            transition: all .3s
        }

        .product-grid3 .product-content {
            z-index: -1;
            padding: 15px;
            text-align: left
        }

        .product-grid3 .title {
            font-size: 14px;
            text-transform: capitalize;
            margin: 0 0 7px;
            transition: all .3s ease 0s
        }

        .product-grid3 .title a {
            color: #414141
        }

        .product-grid3 .price {
            color: #000;
            font-size: 16px;
            letter-spacing: 1px;
            font-weight: 600;
            margin-right: 2px;
            display: inline-block
        }

        .product-grid3 .price span {
            color: #909090;
            font-size: 14px;
            font-weight: 500;
            letter-spacing: 0;
            text-decoration: line-through;
            text-align: left;
            display: inline-block;
            margin-top: -2px
        }

    </style>
    <div class="d-flex" id="wrapper">
        <div class="bg-light border-right border-top border-bottom" id="sidebar-wrapper">
            <div class="list-group list-group-flush">
                <a th:href="@{/products/all?page=1}" class="list-group-item list-group-item-action bg-light">Всички</a>
                <a th:href="@{/products/bearings?page=1}" class="list-group-item list-group-item-action bg-light">Лагери</a>
                <a th:href="@{/products/belts?page=1}" class="list-group-item list-group-item-action bg-light">Ремъци</a>
                <a th:href="@{/products/seals?page=1}" class="list-group-item list-group-item-action bg-light">Семеринги</a>
                <a th:href="@{/products/other?page=1}" class="list-group-item list-group-item-action bg-light">Други</a>
            </div>
        </div>

        <div id="page-content-wrapper">
            <th:block th:if="${otherItems.size() == 0}">
                <h3 class="text-center ml-3 mt-3">Няма намерени продукти!</h3>
            </th:block>
            <th:block th:unless="${otherItems.size() == 0}">
                <div class="row">
                    <th:block th:each="other : ${otherItems}" th:object="${other}">
                        <div class="col-md-3 col-sm-6">
                            <div class="product-grid3" th:style="${otherItems.size() == 1} ? 'width:230%; height:100%'">
                                <div class="product-image3">
                                    <a th:href="@{/products/details/{id}(id=${other.id})}">
                                        <th:block th:if="${other.manufacturer == 'ARCANOL'}">
                                            <img class="pic-1" th:src="@{/img/products-page/other/grease-fag-test-picture.jpg}">
                                            <img class="pic-2" th:src="@{/img/products-page/other/grease-fag-test-picture-2.jpg}">
                                        </th:block>
                                        <th:block th:if="${other.manufacturer == 'PETROLI'}">
                                            <img class="pic-1" th:src="@{/img/products-page/other/grease-petroli-test-picture.jpg}">
                                            <img class="pic-2" th:src="@{/img/products-page/other/grease-petroli-test-picture-2.jpg}">
                                        </th:block>
                                    </a>
                                    <ul class="social">
                                        <li><a th:href="@{/products/details/{id}(id=${other.id})}"><i
                                                class="fas fa-eye"></i></a></li>
                                    </ul>
                                </div>
                                <div class="product-content">
                                    <h3 class="title" th:utext="${other.name}"><a href="#"></a></h3>
                                    <div class="price" th:utext="${other.price} + ' лв.'"/>
                                </div>
                            </div>
                        </div>
                    </th:block>
                </div>

                <nav aria-label="page navigation">
                    <ul class="pagination justify-content-end mr-5 mt-3">
                        <th:block th:if="${pages.getTotalElements() <= 20}">
                            <li class="page-item"><a class="page-link" th:href="@{/products/other?page=1}">1</a></li>
                        </th:block>
                        <th:block th:if="${pages.getTotalElements() > 20 && pages.getTotalElements() % 20 != 0}">
                            <th:block th:each="pageNumber : ${#numbers.sequence(1, (pages.getTotalElements()/20 + 1))}">
                                <li class="page-item"><a class="page-link" th:href="@{/products/other?page={page}(page=${pageNumber})}" th:text="${pageNumber}"/></li>
                            </th:block>
                        </th:block>
                        <th:block th:if="${pages.getTotalElements() > 20 && pages.getTotalElements() % 20 == 0}">
                            <th:block th:each="pageNumber : ${#numbers.sequence(1, (pages.getTotalElements()/20))}">
                                <li class="page-item"><a class="page-link" th:href="@{/products/other?page={page}(page=${pageNumber})}" th:text="${pageNumber}"/></li>
                            </th:block>
                        </th:block>
                    </ul>
                </nav>
            </th:block>
        </div>
    </div>
    <hr>
</th:block>