<!--suppress ALL -->
<th:block th:fragment>
    <div class="container">
        <div class="row mt-3">
            <th:block th:if="${session.gender == 'Мъж'}">
                <img src="/static/img/profile-page/user-male-profile-picture.jpg"
                     th:src="@{/img/profile-page/user-male-profile-picture.jpg}"
                     alt="" class="img-rounded img-responsive"/>
            </th:block>
            <th:block th:if="${session.gender == 'Жена'}">
                <img src="/static/img/profile-page/user-female-profile-picture.png"
                     th:src="@{/img/profile-page/user-female-profile-picture.png}"
                     alt="" class="img-rounded img-responsive"/>
            </th:block>

            <div class="col-sm-4 col-md-7 justify-content-center" style="color: orangered;">
                <blockquote>
                    <i class="fas fa-user-circle"></i>
                    <th:block th:utext="${session.name} + ' ' + ${session.lastName} + ' - Администратор'"/>
                    <hr/>
                </blockquote>
                <blockquote>
                    <i class="fas fa-envelope"></i>
                    <th:block th:utext="${session.email}"/>
                    <hr/>
                </blockquote>
                <blockquote>
                    <i class="fas fa-phone"></i>
                    <th:block th:utext="${session.phone}"/>
                    <hr>
                    <i class="fas fa-reply"></i>
                    <th:block th:if="${session.inquiries == null}">
                        <a th:href="@{/inquiries/details}">
                            Запитвания: 0
                        </a>
                    </th:block>

                    <th:block th:unless="${session.inquiries == null}">
                        <a th:href="@{/inquiries/details}">
                            <th:block th:utext="${'Запитвания: ' + session.inquiries}"/>
                        </a>
                    </th:block>
                </blockquote>
            </div>
        </div>
    </div>
    <hr>
</th:block>